.App {
  text-align: center;
  background-color: #648de5;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #648de5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Form-box {
  box-sizing: border-box;
  background-color: #344966;
  margin: 20;
  padding: 35px;
  border: 2px solid black;
  position: relative;
  border-radius: 5px;
}

.Form-Login {
  color: #304c89;  
  background-color: #e8e5da;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
}

.Form-Buttom {
  background-color: #f06543;
  text-align: center;
  padding-bottom: 5px;
  border-radius: 5px;
  
}

.Form-Text {  
  color: #f06543;
  text-align: center;
  border: 10px;
  border-color: black;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
